<div *ngIf="!restaurant">
  Loading menu...
</div>

<div *ngIf="restaurant">
  <div class="restaurant-detail">
    <h2>{{ restaurant.name }}</h2>
    <p>
      ⭐ {{ restaurant.rating | number:'1.1-1' }}
      ({{ reviews.length || 0 }} reviews)
    </p>

    <h3 class="margin-top-medium">🍜 Menu</h3>
    <div *ngFor="let dish of restaurant?.dishes" class="dish-card">

      <div class="dish-row">
        <div>
          <strong>{{ dish.name }}</strong>
          <div>{{ dish.price }} €</div>
          <div class="dish-meta">
            ★  {{ dish.rating | number:'1.1-1' }}
            <span *ngIf="dish.review_count > 0">
                  ({{ dish.review_count }} ratings)
            </span>
          </div>
        </div>

        <div>
          <button (click)="addToCart(dish)">
            Add to Cart
          </button>

          <button class="rate-btn"
                  (click)="selectedDish = dish; dishRating = 0; hoverRating = 0">
            ⭐ Rate dish
          </button>
        </div>
      </div>

      <div *ngIf="selectedDish?.id === dish.id"
           class="margin-top-small">

        <span
          *ngFor="let star of [1,2,3,4,5]"
          (click)="dishRating = star"
          (mouseenter)="hoverRating = star"
          (mouseleave)="hoverRating = 0"
          [style.color]="star <= hoverRating || star <= dishRating ? '#FFC107' : '#ddd'"
          class="star small">
★
</span>

        <button (click)="reviewDish(dish)" class="submit-btn">
          Submit
        </button>

      </div>
  </div>
  </div>
  <button (click)="showReviewForm = !showReviewForm"
          class="review-btn">
    ⭐ Leave a review
  </button>

  <div *ngIf="showReviewForm" class="review-form">

    <label>Rating:</label>

    <div class="rating-container">

<span *ngFor="let star of [1,2,3,4,5]"
      (click)="restaurantRating = star"
      (mouseenter)="hoverRating = star"
      (mouseleave)="hoverRating = 0"
      [style.color]="star <= hoverRating || star <= restaurantRating ? '#FFC107' : '#ddd'"
      class="star large">
      ★

    </span>

    </div>

    <br>

    <textarea
      class="review-textarea"
      [(ngModel)]="comment"
      placeholder="Write your review">
    </textarea>

    <br><br>

    <button (click)="submitReview()">
      Submit review
    </button>

  </div>

  <h3>Customer Reviews</h3>

  <div *ngFor="let r of reviews" class="review-card">
    <div>
 <span *ngFor="let star of [].constructor(Math.round(r.rating))"
       class="star review"> ⭐
</span>
    </div>

    <p>{{ r.comment }}</p>

    <small class="review-date">
      {{ r.created_at | date:'short' }}
    </small>
  </div>

</div>
