<nav style="display:flex; gap:12px; padding:12px; border-bottom:1px solid #ddd;">
  <a routerLink="/customer/restaurants">Restaurants</a>
  <a routerLink="/customer/cart">Cart</a>
  <a routerLink="/customer/orders">Orders</a>
</nav>

<div *ngIf="restaurant; else loading">

  <div style="padding: 20px;">
    <h2>{{ restaurant.name }}</h2>
    <p>Ocena: {{ restaurant.rating }} ⭐</p>

    <h3>Menu 🍕</h3>

    <div *ngFor="let dish of restaurant.dishes"
         style="border:1px solid #eee; margin-bottom:10px; padding:15px; display:flex; justify-content:space-between; border-radius:8px;">

      <div>
        <strong>{{ dish.name }}</strong>
        <div>{{ dish.price }} €</div>
      </div>

      <button (click)="addToCart(dish)">
        Add to Cart
      </button>

    </div>
  </div>
</div>

<ng-template #loading>
  <div style="padding:20px; text-align:center;">
    Loading menu...
  </div>
</ng-template>

