<nav *ngIf="isLoggedIn() && !isLoginPage()" class="main-nav">
  <a routerLink="/customer/restaurants" routerLinkActive="active"
     [routerLinkActiveOptions]="{ exact: true }">Restaurants</a>

  <a routerLink="/customer/cart" routerLinkActive="active"
     [routerLinkActiveOptions]="{ exact: true }">
    Cart ({{ cartItemCount }})
  </a>

  <a routerLink="/customer/orders" routerLinkActive="active"
     [routerLinkActiveOptions]="{ exact: true }">
    Orders
  </a>

  <a routerLink="/customer/profile" routerLinkActive="active"
     [routerLinkActiveOptions]="{ exact: true }">
     Profile</a>

  <span class="nav-user">
    Logged in as {{ userEmail }}
  </span>

  <button type="button" (click)="logout()" aria-label="Logout">
    Logout
  </button>

</nav>
<router-outlet></router-outlet>

<!-- LOADING -->
<div *ngIf="loading$ | async" class="global-loader">
  <div class="spinner"></div>
</div>

<!-- TOAST -->
<div *ngIf="toast$ | async as msg" class="toast">
  {{ msg }}
</div>
