<nav *ngIf="isLoggedIn()" style="display:flex; gap:12px; padding:12px; border-bottom:1px solid #ddd;">
  <a routerLink="/customer/restaurants">Restaurants</a>

  <a routerLink="/customer/cart">
    Cart ({{ cartItemCount }})
  </a>

  <a routerLink="/customer/orders">
    Orders
  </a>

  <a routerLink="/customer/profile">Profile</a>

  <span style="margin-left:auto">
    Logged in as {{ userEmail }}
  </span>



</nav>

<button (click)="logout()" style="margin-left:10px;">Logout</button>

<router-outlet></router-outlet>

<!-- LOADING -->
<div *ngIf="loading$ | async" class="global-loader">
  <div class="spinner"></div>
</div>

<!-- TOAST -->
<div *ngIf="toast$ | async as msg" class="toast">
  {{ msg }}
</div>
