<div class="container">
  <!--SKELETON-->
  <div *ngIf="loading">

    <!-- FAVORITES -->
    <div class="card"><h2>Your Favorites</h2></div>
    <div class="recommendations section-animate">
      <div class="recommend-card skeleton" *ngFor="let i of [1,2,3]"></div>
    </div>

    <!-- ORDER AGAIN -->
    <button *ngIf="hasOrders"
            [class.active]="activeTab === 'ordered'"
            (click)="activeTab = 'ordered'">
            Order Again</button>
    <div class="recommendations section-animate">
      <div class="recommend-card skeleton" *ngFor="let i of [1,2,3]"></div>
    </div>

    <!-- POPULAR -->
    <div class="card"><h2>Popular Near You</h2></div>
    <div class="recommendations section-animate">
      <div class="recommend-card skeleton" *ngFor="let i of [1,2,3]"></div>
    </div>

    <!-- MAIN -->
    <div class="card"><h2>Available Restaurants</h2></div>
    <div class="restaurant-list">
      <div class="restaurant-card skeleton" *ngFor="let i of [1,2,3,4,5,6]"></div>
    </div>
  </div>
  <div *ngIf="!loading" class="fade-in">
    <div class="section">
      <h2 class="section-title">Recommended for you</h2>

      <!-- TABS -->
      <div class="tabs">
        <button
          [class.active]="activeTab === 'favorites'"
          (click)="activeTab = 'favorites'">
          Your Favorites
        </button>

        <button
          [class.active]="activeTab === 'ordered'"
          (click)="activeTab = 'ordered'">
          Order Again
        </button>

        <button
          [class.active]="activeTab === 'popular'"
          (click)="activeTab = 'popular'">
          Popular
        </button>
      </div>

      <!-- CONTENT -->
      <div class="horizontal-scroll">

        <!-- FAVORITES -->
        <ng-container *ngIf="activeTab === 'favorites'">
          <div *ngFor="let r of favoriteRestaurants" class="restaurant-card premium">
            <h3>{{ r.name }}</h3>
            <div class="meta">
              ⭐ {{ r.user_rating | number:'1.1-1' }}
              <div class="user-badge">
                ✔ You rated this
              </div>
              ⏱ {{ r.delivery_minutes }} min
              📍 {{ r.distance_km }} km
            </div>
            <a [routerLink]="['/customer/restaurants', r.id]" class="menu-btn">
              View Menu
            </a>
          </div>

          <div *ngIf="favoriteRestaurants.length === 0" class="empty-text">
            ⭐ You haven't rated anything yet.
          </div>
        </ng-container>
        <!-- ORDER AGAIN -->
        <ng-container *ngIf="activeTab === 'ordered'">

          <div *ngIf="orderedRestaurants.length > 0">
            <div *ngFor="let r of orderedRestaurants" class="restaurant-card premium">
              <h3>{{ r.name }}</h3>
              <div class="meta">
                ⭐ {{ r.rating | number:'1.1-1' }}
                ⏱ {{ r.delivery_minutes }} min
                📍 {{ r.distance_km }} km
              </div>
              <a [routerLink]="['/customer/restaurants', r.id]" class="menu-btn">
                View Menu
              </a>
            </div>
          </div>

          <div *ngIf="orderedRestaurants.length === 0" class="empty-text">
            🧾 No previous orders yet.
          </div>

        </ng-container>

        <!-- POPULAR -->
        <ng-container *ngIf="activeTab === 'popular'">
          <div *ngFor="let r of popularRestaurants" class="restaurant-card premium">
            <h3>{{ r.name }}</h3>
            <div class="meta">
              ⭐ {{ r.rating | number:'1.1-1' }}
              ⏱ {{ r.delivery_minutes }} min
              📍 {{ r.distance_km }} km
            </div>
            <a [routerLink]="['/customer/restaurants', r.id]" class="menu-btn">
              View Menu
            </a>
          </div>
        </ng-container>
      </div>
    </div>

    <div class="section">
      <h2 class="section-title">🍽 Available Restaurants</h2>

      <div class="filter-bar premium-filter">

        <input
          type="text"
          placeholder="Search restaurant or cuisine..."
          [(ngModel)]="selectedCuisine"
          (ngModelChange)="filterRestaurants()"
        />

        <select [(ngModel)]="sortOption" (change)="applySorting()">
          <option value="">Sort</option>
          <option value="rating_desc">Top rated ⭐</option>
          <option value="delivery_asc">Fastest ⏱</option>
          <option value="distance_asc">Closest 📍</option>
        </select>

        <button (click)="resetFilters()">Reset</button>

      </div>

      <div class="restaurant-list premium-grid">
        <div *ngFor="let r of filteredRestaurants; trackBy: trackById"
             class="restaurant-card premium">

          <h3>{{ r.name }}</h3>

          <div class="meta">
            ⭐ {{ r.rating | number:'1.1-1' }}
            ⏱ {{ r.delivery_minutes }} min
            📍 {{ r.distance_km }} km
          </div>

          <div class="cuisine">
            🍽 {{ r.cuisine }}
          </div>

          <a [routerLink]="['/customer/restaurants', r.id]" class="menu-btn">
            View Menu
          </a>

        </div>
      </div>

      <div *ngIf="filteredRestaurants.length === 0" class="empty-text">
        🔍 No results found.
      </div>
    </div>
  </div>
</div>
