<div class="orders-container">
  <div class="orders-content">

<h2>Orders</h2>

<div *ngIf="loading">
  Loading orders...
</div>

<div *ngIf="!loading && orders.length === 0">
  No orders yet.
</div>

<!-- ACTIVE ORDERS -->
    <h3 *ngIf="hasActiveOrders()">Active Orders</h3>
    <div *ngFor="let order of orders">
      <div *ngIf="isActive(order)" class="order-card">
    <h3>{{ order.restaurant_name }}</h3>
        <p><strong>Total: €{{ order.total_price }}</strong></p>
    <ul>
      <li *ngFor="let item of order.items">
        {{ item.name }} x{{ item.quantity }} – €{{ item.price }}
      </li>
    </ul>

    <p>
      Status:
      <span *ngIf="getOrderStatus(order) === 'Preparing'">🍳 Preparing</span>
      <span *ngIf="getOrderStatus(order) === 'On the way'">🚗 On the way</span>
    </p>

    <p>Arriving in {{ getRemainingMinutes(order) }} min</p>

    <p style="color:#666;">
      Ordered at: {{ order.created_at | date:'HH:mm' }}
    </p>

  </div>
</div>


<!-- PREVIOUS ORDERS -->
    <h3 *ngIf="hasPreviousOrders()">Previous Orders</h3>

    <div *ngFor="let order of orders">
      <div *ngIf="isPrevious(order)" class="order-card">

    <h3>{{ order.restaurant_name }}</h3>

        <ul>
          <li *ngFor="let item of order.items">
            {{ item.name }} x{{ item.quantity }} – €{{ item.price }}
          </li>
        </ul>

        <p><strong>Total: €{{ order.total_price }}</strong></p>

    <p>Status: ✅ Delivered</p>

    <p style="color:#666;">
      Ordered at: {{ order.created_at | date:'HH:mm' }}
    </p>

  </div>
</div>
  </div>
</div>




