button {
  background-color: black;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.toast {
  position: fixed;
  bottom: 20px;
  right: 20px;

  padding: 12px 20px;
  border-radius: 8px;

  color: white;
  font-weight: 500;

  animation: fadeInOut 3s ease forwards;
}

/* barve */
.toast.success {
  background: #4CAF50;
}

.toast.error {
  background: #f44336;
}

/* animacija */
@keyframes fadeInOut {
  0% { opacity: 0; transform: translateY(20px); }
  10% { opacity: 1; transform: translateY(0); }
  90% { opacity: 1; }
  100% { opacity: 0; transform: translateY(20px); }
}
