<div class="page-container fade-in">
  <div class="content-card">

<h2>Your Profile</h2>

    <h4>Personal Information</h4>

<label>Email</label><br>
  <input
    [(ngModel)]="user.email"
    type="email"
    required
    #emailRef="ngModel">

  <div *ngIf="emailRef.invalid && (emailRef.touched || emailRef.dirty)"
       class="error-text">
    Please enter a valid email
  </div>

  <label>City</label><br>
  <input [(ngModel)]="user.address">

<div style="display:none;">
<div style="margin-bottom: 15px;">
<label>Your location (X coordinate)</label><br>
<input [(ngModel)]="user.location_x">
</div>

<div style="margin-bottom: 15px;">
<label>Your location (Y coordinate)</label><br>
<input [(ngModel)]="user.location_y">
</div>

<p style="font-size:12px; color:gray; margin-bottom:15px;">
  Used for distance calculation (simulation of user location)
</p>
</div>

<button (click)="updateProfile()"
        [disabled]="loading || emailRef.invalid"
        class="btn-spacing">

  <span *ngIf="!loading">Save profile</span>
  <span *ngIf="loading" class="spinner"></span>

</button>

    <div class="section-divider"></div>

    <h4 class="section-title">Change Password</h4>
    <p class="section-subtitle">Security</p>

  <label>Current password</label><br>
  <input type="password" [(ngModel)]="oldPassword">

  <label>Enter a new password</label><br>
    <div class="password-wrapper">
    <input [type]="showPassword ? 'text' : 'password'"
       [(ngModel)]="newPassword"
  (input)="passwordStrength = getPasswordStrength(newPassword)">

    <span (click)="showPassword = !showPassword" class="eye-icon">
    👁️
  </span>

  </div>

  <div *ngIf="newPassword" class="password-section">

    <div style="height:6px; border-radius:4px; background:#eee;">
      <div [style.width]="
           passwordStrength === 'Weak' ? '33%' :
           passwordStrength === 'Medium' ? '66%' : '100%'"
           [style.background]="
           passwordStrength === 'Weak' ? 'red' :
           passwordStrength === 'Medium' ? 'orange' : 'green'"
           style="height:6px; border-radius:4px;">
      </div>
    </div>
    <small style="display:block; margin-top:8px;">
<span *ngIf="passwordStrength === 'Weak'" style="color:red;">
    Weak – add number or symbol
  </span>

      <span *ngIf="passwordStrength === 'Medium'" style="color:orange;">
    Medium – good but can improve
  </span>

      <span *ngIf="passwordStrength === 'Strong'" style="color:green;">
    Strong password
  </span>
    </small>

  </div>

<div style="margin-top:15px;">
  <label>Confirm password</label><br>

  <div class="password-wrapper">

    <input [type]="showPassword ? 'text' : 'password'"
           [(ngModel)]="confirmPassword"
           [style.border]="
           confirmPassword
           ? (newPassword === confirmPassword ? '2px solid green' : '2px solid red')
           : '1px solid #ccc'">

    <span (click)="showPassword = !showPassword" class="eye-icon">
    👁️
  </span>

  </div>
  <div *ngIf="confirmPassword" style="margin-top:5px;">
    <small [style.color]="
            newPassword === confirmPassword ? 'green' : 'red'">

      {{ newPassword === confirmPassword
      ? '✓ Passwords match'
      : 'Passwords do not match' }}

    </small>
  </div>

</div>

<button (click)="changePassword()"
        [disabled]="loading
        || newPassword.length < 6
|| newPassword !== confirmPassword
|| passwordStrength === 'Weak'"
        class="btn-spacing-top">
  <span *ngIf="!loading">Change password</span>

  <span *ngIf="loading" class="spinner"></span>
</button>

<div *ngIf="message"
     class="toast"
     [class.success]="message.includes('updated')"
     [class.error]="message.includes('Error')">
  {{ message }}
</div>
</div>
</div>


