<div class="page-container">
  <div class="content-card">

  <h2>Register</h2>

  <input
    type="email"
    placeholder="Email"
    [(ngModel)]="email"
    #emailRef="ngModel"
    required
    email
    [class.input-error]="emailRef.touched && emailRef.invalid"
  />

    <div *ngIf="emailRef.touched && emailRef.invalid"
         class="error-text">
    Please enter a valid email
  </div>

    <label>Password</label>
    <div class="password-wrapper">
      <input [type]="showPassword ? 'text' : 'password'"
             [(ngModel)]="password"
             (input)="passwordStrength = getPasswordStrength(password)"
             >

      <span (click)="showPassword = !showPassword"
            class="eye-icon">
  👁️
</span>
    </div>

      <label>Confirm password</label><br>
      <input [type]="showPassword ? 'text' : 'password'"
             [(ngModel)]="confirmPassword"
             [style.border]="
  confirmPassword
  ? (password === confirmPassword ? '2px solid green' : '2px solid red')
  : '1px solid #ccc'">

      <div *ngIf="confirmPassword" class="margin-top-small">
        <small [style.color]="
            password === confirmPassword ? 'green' : 'red'">

          {{ password === confirmPassword
          ? '✓ Passwords match'
          : 'Passwords do not match' }}

        </small>
    </div>

    <div *ngIf="password" class="margin-top-medium" style="margin-bottom: 15px;">

      <div class="password-bar password-bar-bg">
        <div class="password-bar"
             [style.width]="
         passwordStrength === 'Weak' ? '33%' :
         passwordStrength === 'Medium' ? '66%' : '100%'"
             [style.background]="
         passwordStrength === 'Weak' ? 'red' :
         passwordStrength === 'Medium' ? 'orange' : 'green'">
        </div>
      </div>

      <small>
    <span *ngIf="passwordStrength === 'Weak'" class="password-weak">
      Weak – add number or symbol
    </span>

        <span *ngIf="passwordStrength === 'Medium'" class="password-medium">
      Medium – good but can improve
    </span>

        <span *ngIf="passwordStrength === 'Strong'" class="password-strong">
      Strong password
    </span>
      </small>

    </div>

  <label>City</label>
  <input [(ngModel)]="address" placeholder="Enter your city"
    required
    #addressRef="ngModel"
    />

    <div *ngIf="addressRef.invalid && (addressRef.touched || addressRef.dirty)"
         class="error-text">
      Please enter your city
    </div>

  <button (click)="register()"
          [disabled]="
          !email ||
    password.length < 6 ||
    passwordStrength === 'Weak'||
  password !== confirmPassword ||
  emailRef.invalid ||
          !address ||
    address.trim() === ''
    ">
    <span *ngIf="!loading">Register</span>
    <span *ngIf="loading">Loading...</span>
  </button>

  <div *ngIf="errorMessage"
       class="message"
       [class.success]="errorMessage.includes('successful')"
       [class.error]="!errorMessage.includes('successful')">
    {{ errorMessage }}
  </div>

  <p>
    Already have an account?
    <a routerLink="/customer/login">Login</a>
  </p>


</div>
</div>
